<div class="col-12">
    <header class="text-white d-flex" style="box-shadow: 1px 1px 5px #000;">
            <div class="d-flex align-items-center col-12" style="font-size: 14pt; font-weight: bold;">
            <img src="assets/atende_facil.jpg" id="logo" style="height: 70px; width: 70px; margin-left: -10px; border-radius: 100%;" alt="Prefeitura de Goiânia"/>
              <div class="col-6">
                {{title}}
                </div>
                <nav class="d-flex justify-content-end col-5">
                  ATI
                </nav>
            </div>
     </header>
    <div class="col-12"> 
      <section style="min-height: 850px">
            <div>
                <main class="col-md-12">
                    <h1 class="h6 mt-2" style="text-align: center;">
                        Secretaria Municipal de Finanças
                      </h1>
                      <h1 class="h6" style="text-align: center;">
                        Assessoria de Tecnologia da Informação
                      </h1>
                    <h4 class="text-center">Bem vindo ao e-AtendeFacil</h4>
                    <h6 class="text-center mt-1">Sistema Atende Fácil de Agendamento on-line.</h6>
                    <div class="col-12 d-flex justify-content-center mt-5">
                        <button class="btn btn-success" routerLink="/login">
                            <i class="far fa-edit"></i>&#160; AGENDE SUA VAGA!
                        </button>&#160;  
                        <button type="button" class="btn btn-primary" routerLink="/usuario">
                            <i class="fa fa-id-card-o" aria-hidden="true"></i>&#160; FAÇA SEU CADASTRO
                        </button>
                    </div>
                    <div class="container mt-5">
                      <router-outlet></router-outlet>
                    </div> 
                </main>
            </div>
        </section>
      </div>
    <!-- Cabeçalho - Fim -->
    <!-- Rodape - Inicio -->
        <footer class="text-white" style="height: 50px; margin-top:2px; box-shadow: 1px 1px 2px #000;">
            <div class="container">
                <div class="text-center" style="font-size: 10pt;">
                   Secretaria de Finanças - Assessoria de Tecnologia da Informação - 2020.
                </div>
            </div>
        </footer>		
    </div>