<div class="col-12">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/agendamento">Listagem</a></li>
        <li class="breadcrumb-item active">Finalização</li>
      </ol>
    </nav>
    <div class="row mb-4">
      <div class="col-md">
        <button type="button" routerLink="/" class="btn btn-warning float-right">
          <i class="fas fa-backward"></i>&nbsp;Voltar
        </button>
      </div>
    </div>
    <form class="needs-validation" novalidate [formGroup]="agendForm">
      <div class="card" style="box-shadow: 5px 5px 10px #000;">
        <div class="card-header">
            Mostrar Agenda ao Contribuinte
        </div>
        <div class="card-body">
          <div class="form-row col-md-12">
            <label style="color: green; font-weight: bold; font-size: 12pt;">DADOS DO CONTRIBUINTE</label>
          </div>
          <div class="form-row col-md-12">
            <div class="col-md-2">
                <label style="color: blue; font-weight: bold; font-size: 12pt;">Identificador:&#160;</label><span>{{ id }}</span>
            </div>    
            <div class="col-md-4">
                <label style="color: blue; font-weight: bold; font-size: 12pt;">Nome:&#160;</label><span>{{ nome }}</span>
            </div>
            <div class="col-md-3">
                <label style="color: blue; font-weight: bold; font-size: 12pt;">CPF/CNPJ:&#160;</label><span>{{ formatarPessoas(cpfCnpj) }}</span>
            </div>
            <div class="col-md-3">
                <label style="color: blue; font-weight: bold; font-size: 12pt;">Telefone:&#160;</label><span>{{ telefone }}</span> 
            </div>
          </div>
          <div class="form-row col-md-12 border-bottom">
            <div class="col-md-6">
                <label style="color: blue; font-weight: bold; font-size: 12pt;">Email:&#160;</label><span>{{ email }}</span>
            </div>
          </div>
          <div class="form-row col-md-12">
            <label style="color: green; font-weight: bold; font-size: 12pt;">DADOS DO AGENDAMENTO</label>
          </div>
          <div class="form-row col-md-12">
            <div class="col-md-2">
                <label style="color: blue; font-weight: bold; font-size: 12pt;">Identificador:&#160;</label><span>{{ id_agendamento }}</span>
            </div>    
            <div class="col-md-4">
                <label style="color: blue; font-weight: bold; font-size: 12pt;">Unidade:&#160;</label><span>{{ unidade }}</span>
            </div>
            <div class="col-md-3">
                <label style="color: blue; font-weight: bold; font-size: 12pt;">Data:&#160;</label><span>{{ formatarDate(data) }}</span>
            </div>
            <div class="col-md-3">
                <label style="color: blue; font-weight: bold; font-size: 12pt;">Horário:&#160;</label><span>{{ horario }}</span> 
            </div>
          </div>
          <div class="form-row col-md-12 border-bottom">
            <div class="col-md-3">
                <label style="color: blue; font-weight: bold; font-size: 12pt;">Especifíco para:&#160;</label><span>{{ especifico }}</span>
            </div>
            <div class="col-md-5">
                <label style="color: blue; font-weight: bold; font-size: 12pt;">Status de agendamento:&#160;</label><span>{{ status }}</span>
            </div>
          </div>
          <div class="form-row col-md-12 mt-3">
			<label style="color: green; font-weight: bold; font-size: 12pt;">ESCOLHA O DIA SERVIÇO E PRIORIDADE DO ATENDIMENTO</label><br/>
				<div class="form-row col-md-12">
            <div class="form-group col-md-3" >
                <label for="calendario">Serviço:</label>
                <select  class="form-control" id="calendario" formControlName="detalhamentoServico">
                    <option value="" selected>Escolha o serviço</option>  
                  <option *ngFor="let detalhamentoServico of detalhamentoServicos" [value]="detalhamentoServico.id">{{detalhamentoServico.descricao}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="unidade">Prioridade:</label>
                <select  class="form-control" id="unidade" formControlName="prioridade">
                    <option value="" selected>Escolha a priodidade</option>
                    <option value="Normal">Normal</option>
                    <option value="Idoso">Idoso</option>
                    <option value="Gestante">Gestante</option>
                    <option value="Lactante">Lactante</option>
                    <option value="Nessecidades especiais">Nessecidades especiais</option>
                    <option value="Criança de colo">Criança de colo</option>
                    <option value="Obeso">Obeso</option>
                </select>
            </div>
            <div class="form-group col-md-6 mt-4" style="box-shadow: 5px 5px 10px #000;">
                <div class="ml-2">
                <label for="prioridade" style="color: red;"><strong>Atendimento prioritário</strong></label><br/>
                <span style="font-size: 12px; font-weight: bold;">Em conformidade com a Lei nº 10.048/00 é direito a atendimento prioritário, 
                        pessoas com necessidades especiais, idosos com idade igual ou superior a 60 (sessenta) anos, gestantes, 
                        lactantes, pessoas com crianças de colo e obesos em repartições públicas, empresas concessionárias de 
                        serviços públicos e instituições financeiras. </span>
                        <br/><br/>
                </div>		
            </div>
				</div>
			</div>
         <div class="col-md-12">
                <button type="button" 
                        class="btn btn-success" 
                        data-toggle="modal" 
                        *ngIf="btn"
                        data-target="#exampleModal" 
                        [disabled]="!agendForm.valid">
                    <i class="fas fa-list-ol"></i>&#160;Confirmar Agendamento
                </button>
                <button type="button" 
                        class="btn btn-warning" 
                        *ngIf="!btn"
                        data-toggle="modal"  
                        (click)="imprimir(id_agendamento)"
                        data-target="#exampleModal2" >
                    <i class="fas fa-list-ol"></i>&#160;Imprimir recibo
                </button>
        </div>
        </div>
      </div>
    </form>
    <div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                <h6 class="modal-title"> &#10004; &#160;<strong style="color: blue;">Chegamos ao final!</strong></h6>
            </h5>
            <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
            </div>
            <div class="modal-body">
                <div class="card">	
                    <div class="card-header">
                        <div >
                            <strong id="resNome" style="color: Green;"><span>{{ nome }},</span></strong>
                                Confira com atenção os dados abaixo, e envie seu agendamento! 
                        </div>
                    </div> 
                </div>  
                <div class="d-flex justify-content-center" style="color: red; font-weight: bold;">Dica! Imprima seu recibo apos enviar !</div>    
                <div class="col-md-12 mt-2">
                    <div *ngIf ="!btn" style="text-align: center;"  class="col-12 alert alert-success" role="alert">
                      <span> Pedido enviado com sucesso!! </span>
                    </div>
                  </div>   
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            <button type="button" *ngIf="btn" class="btn btn-success" (click)="enviar()">Enviar</button>
            </div>
        </div>
        </div>
    </div>