<div id="carouselExampleControls" class="carousel slide border-top" data-ride="carousel">
  <div class="carousel-inner mt-5">
    <div class="carousel-item active">
      <div class="d-flex justify-content-center">
        <img src="assets/atende_facil.jpg" id="logo" style="height: 450px; width: 500px; margin-top: -100px;" alt="Prefeitura de Goiânia"/>
      </div>
    </div>
    <div class="carousel-item">
      <div style="font-weight: bold;">
        <span class="d-flex justify-content-center">NOSSOS SERVIÇOS:</span><br/>
        <span class="d-flex justify-content-center">CADASTRO IMOBILIÁRIO-ISTI/IPTU/VISTORIA**APENAS INFORMAÇÕES**</span>
        <span class="d-flex justify-content-center">CONSELHO TRIBUTARIO FISCAL</span>
        <span class="d-flex justify-content-center">GERÊNCIA DO SIMPLES NACIONAL</span>
        <span class="d-flex justify-content-center">ISS DA CONSTRUÇÃO CIVIL</span>
        <span class="d-flex justify-content-center">SAÚDE - ATENDIMENTO AO INTERIOR - ALTO CUSTO</span>
        <span class="d-flex justify-content-center">SAÚDE - ATENDIMENTO AO INTERIOR - MEDIA COMPLEXIDADE</span>
        <span class="d-flex justify-content-center">SEMAD - Posse (comissionado, efetivo, disposição, mandado e reintegração)</span>
      </div>
    </div>
    <div class="carousel-item">
      <div style="font-weight: bold;">
        <span class="d-flex justify-content-center">NOSSAS UNIDADES:</span><br/>
        <span class="d-flex justify-content-center">ATENDE FÁCIL CIDADE JARDIM</span>
        <span class="d-flex justify-content-center">ATENDE FÁCIL FERROVIÁRIA</span>
        <span class="d-flex justify-content-center">ATENDE FÁCIL MANGALÔ</span>
        <span class="d-flex justify-content-center">ATENDE FÁCIL PAÇO</span>
        <span class="d-flex justify-content-center">ATENDE FÁCIL PRAÇA DA BÍBLIA</span>
        <span class="d-flex justify-content-center">TELEFONE: (62) 3524-3335</span>
      </div>
    </div>
    <div class="carousel-item">
      <div style="font-weight: bold;">
        <span class="d-flex justify-content-center mb-3">Para Informções Úteis:</span>
        <span class="d-flex justify-content-center mb-2">{{ titulo }}</span>
        <span class="d-flex justify-content-center">{{ mensagem }}</span>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
